@font-face {
  font-family: "Almarai";
  font-style: normal;
  src: url("https://github.com/google/fonts/raw/main/ofl/almarai/Almarai-Regular.ttf") format("truetype");
  font-display: auto;
}
body {
  font-family: "Almarai", sans-serif;
}
